#smallHeader {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  line-height: 80px;
  color: black;
  font-size: 32px;
  z-index: 4;
  opacity: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  font-weight: bold;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.8);
}
