@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext');
body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

body {
  background-image: url("../pozadi kytky.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  /* parallax efekt*/
  min-height: 100vh;
}

/*zacina sekce pro menu*/

#navbar {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 6;
  display: block;
}

/* input je checkbox, ktery ma pozici 3 a opacity 0
takze je zobrazen v popredi a ridi interakci
pseudoselekci :checked */

#navbar input {
  display: block;
  width: 50px;
  height: 35px;
  position: fixed;
  float: right;
  clear: right;
  top: 25px;
  right: 40px;
  opacity: 0;
  z-index: 7;
  cursor: pointer;
}

/* vykresleni hamburger menu a jeho animace */

#hamburgerSpan1, #hamburgerSpan2, #hamburgerSpan3 {
  display: block;
  width: 33px;
  height: 4.5px;
  position: fixed;
  float: right;
  clear: right;
  top: 30px;
  right: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2.5px;
  z-index: 5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  /* tohle jsou transition duration pro vsechny zmeny*/
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

/*pozice fixed to dala na jedno misto, tak jsem je musel jednotlive posunout*/

#hamburgerSpan2 {
  top: 39px;
}

#hamburgerSpan3 {
  top: 49px;
}

#navbar input:checked~#hamburgerSpan1 {
  background: #3b3c3d;
  top: 39px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-radius: 4px;
  height: 5px;
}

/*sjede do pravy prdele a zmizi prdele*/

#navbar input:checked~#hamburgerSpan2 {
  right: 20px;
  background: rgba(255, 255, 255, 0);
  transform-origin: 10px 0px;
}

#navbar input:checked~#hamburgerSpan3 {
  top: 39px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  height: 5px;
  border-radius: 4px;
  background: #3b3c3d;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  padding-top: 230px;
  right: 0;
  background: rgba(80, 170, 158, 0.9);
  list-style-type: none;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform: translate( 100%, -0%);
  -webkit-transform: translate( 100%, -0%);
  -moz-transform: translate( 100%, -0%);
  -o-transform: translate( 100%, -0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -moz-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  text-align: center;
  z-index: 3;
}

/*pozice itemu vuci hamburgeru je nyni presne dana
pokud se zvetsi napr. font musi se pozicovani predelat*/

.menu li {
  font-size: 30px;
  margin-left: 10px;
  display: block;
  padding-bottom: 30px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #d2e0bd;
  padding: 10px;
  font-weight: bold;
}

.menu a:hover {
  color: #8b542f;
}

#navbar input:checked~ul {
  transform: none;
  /*cely menu je posunuto transformaci -100%,
  checknuti checkboxu transformaci zrusi a menu sjede*/
}

/*konci sekce pro menu*/

.logoSmallDiv {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  box-sizing: border-box;
  height: auto;

  /* background-color: rgba(255, 0, 0, 0.5); */
  z-index: 5;
}

#logoSmall {
  margin: 13px;
  width: calc(669px * 0.10);
  height: calc(582px * 0.10);
  cursor: pointer;
}

/*jeden div je mainContainer, kterej je vzdy vysoky tak, aby paticka byla na konci stranky.
 Je bran v potaz hard coded height paticky*/

.mainContainer {
  min-height: calc(100vh - 61px);
  padding-top: 80px;
  width: 100%;
  box-sizing: border-box;
}

.pageHeader {
  font-size: 120px;
  max-width: 100%;
  color: white;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

#paragraphMasaze   {
  max-width: 900px;
  font-size: 15px;
  color: white;
  margin: 0 auto;
  font-weight: 900;
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
}
#tabsBackground {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;


}

#tabs {
  display: flex;
  max-width: 1200px;
  padding: 30px;
  border-radius: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.box {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* background-color: rgba(0,0,0,0.6); */
  background-color: Sienna;
  text-align: center;
  line-height: 160px;
  margin: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.box:hover{
    box-shadow: 0 0 0 3px;
}

.box h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  transition: font-size 0.1s linear;
}

.box:hover h2{
  font-size: 19px;
}

#wrapperBoxContent {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.boxContent {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
  padding: 30px;
  box-sizing: border-box;
  display: none;
  opacity: 1;
  /* transition: all .3s ease; */
  animation: grow .5s ease;
}
#boxContent1 {
  display: block;
}


.active {
  background-color: white;
  transform: scale(1.1);
}

.active:hover{
  box-shadow: none;
}

.active:hover h2 {
  font-size: 18px;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


footer {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #ebd7bb;
  background-color: #2a2c30;
  text-align: center;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
  padding: 1em;
}

.company-info {
  background: #c9e6ff;
}

.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
}

/* FORM STYLES */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
  color: black;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}


.contact form button, .contact form input, .contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  box-sizing: border-box;
}

.contact form textarea {
  resize: vertical;
}

.contact form button {
  background: #92bde7;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.contact form button:hover, .contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
