

@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext');
body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  height: 100%;
  width: 100%;

}

body{
  background-image: url("../pozadi kytky.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* parallax efekt*/
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
}

/*zacina sekce pro menu*/
#navbar {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1; /*pozice zobrazeni*/
  display: none;
  /*zmeni se na block v js*/
}

/* input je checkbox, ktery ma pozici 2 a opacity 0
takze je zobrazen v popredi a ridi interakci
pseudoselekci :checked */
#navbar input {
  display: block;
  width: 50px;
  height: 35px;
  position: fixed;
  float: right;
  clear: right;
  top: 60px;
  right: 40px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}



/* vykresleni hamburger menu a jeho animace */
#span1, #span2, #span3 {
  display: block;
  width: 33px;
  height: 4.5px;
  position: fixed;
  float: right;
  clear: right;
  top: 70px;
  right: 50px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2.5px;
  z-index: 1;
  -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 /* tohle jsou transition duration pro vsechny zmeny*/
 -webkit-transition: .35s ease-in-out;
 -moz-transition: .35s ease-in-out;
 -o-transition: .35s ease-in-out;
 transition: .35s ease-in-out;
}

/*pozice fixed to dala na jedno misto, tak jsem je musel jednotlive posunout*/
#span2 {
top: 79px;
}

#span3 {
top: 89px;
}

#navbar input:checked~#span1 {
  background: #3b3c3d;
  top: 79px;
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   -o-transform: rotate(135deg);
   transform: rotate(135deg);
   border-radius: 4px;
   height: 5px;
}
/*sjede do pravy prdele a zmizi prdele*/
#navbar input:checked~#span2 {
  right: 20px;
  background: rgba(255, 255, 255, 0);
  transform-origin: 10px 0px;
}

#navbar input:checked~#span3 {
  top: 79px;
   -webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
   -o-transform: rotate(-135deg);
   transform: rotate(-135deg);

  height: 5px;
  border-radius: 4px;
  background: #3b3c3d;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  padding-top: 230px;
  right: 0;
  /* margin-right: -100px; */
  /* padding: 170px 100px 50px 100px; */
  background: rgba(80,170,158,0.9);
  list-style-type: none;
   transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform: translate( 100%, -0%);
  -webkit-transform: translate( 100%, -0%);
  -moz-transform: translate( 100%, -0%);
  -o-transform: translate( 100%, -0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -moz-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  text-align: center;
}

/*pozice itemu vuci hamburgeru je nyni presne dana
pokud se zvetsi napr. font musi se pozicovani predelat*/
.menu li {
  font-size: 30px;
  margin-left: 10px;
  display: block;
    padding-bottom: 30px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #d2e0bd;
  padding: 10px;
  font-weight: bold;
}

.menu a:hover {
  color:#8b542f;
}


#navbar input:checked ~ ul {
  transform: none; /*cely menu je posunuto transformaci -100%,
  checknuti checkboxu transformaci zrusi a menu sjede*/
}

/*konci sekce pro menu*/


#logoBig {
  max-width: 602px;
  display:block;
  margin: 150px auto 0 auto;
  width: 100%;
  object-fit: contain;
}


#logoSmall {
  position: fixed;
  top: 5%;
  left: 20px;
  width: calc(669px * 0.15);
  height: calc(582px * 0.15);
  display: none;
  cursor: pointer;
  /* z-index: 2; */
}


/*button O mne sekce */
#btnOmne {
  position: relative;
  width: 100px;
  margin: 30px auto 0 auto;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  color: #ebd7bb;
  text-align: center;
  border-radius: 20px;
  border: 5px solid #ebd7bb;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  box-shadow: inset 0 0 25px #ebd7bb, 0 0 25px #edebe8;
}

#btnOmne:hover {
  box-shadow: inset 0 0 25px #ebd7bb, 0 0 45px #edebe8;
  /*hover efekt prida vic pixelu do outter glow*/
}

#btnOmne:active {
  margin-top: 35px; /*button po kliknuti klesne o 5px*/
}
/*konci button O mne sekce */

/*Main content sekce*/
.main{
  position: relative;
  height: 100%;
  width:100%;
}

h1 {
  font-size: 120px;
  color: white;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: relative;
  top: 15%;
}

p {
  max-width:900px;
  font-size: 15px;
  color: white;
  margin: 0 auto;
  font-weight: 900;
  padding: 0;
  position: relative;
  top: 15%;
}


.box {
  max-width:920px;
  max-height: auto;
  font-size: 19px;
  color: white;
  text-align: center;
  font-weight: 900;
  border: 3px solid white;
  border-radius: 50px 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: rgba(80,170,158,0.3);
  padding: 20px;
  position: relative;
  top:20%;
}


h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: relative;
  top: 15%;
}

.boxContent {
    transition:  0.6s all ease-in-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    display: block;
    text-align: left;
}

input.toggle {
  display: block;
  width: 50px;
  height: 35px;
  margin: 0 auto;
  position: relative;
  left: 7.5px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

input.toggle:checked ~ span.boxContent {
  opacity: 1;
  max-height: 9000px;
}

span.hide {
 display: block;
 width: 25px;
 height: 5px;
 position: relative;
 margin: 0 auto;
 top: -20px;
 background: rgba(255, 255, 255, 1);
 border-radius: 2.5px;
 -webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
 transition: .5s ease-in-out;
 z-index: 1;

}
input.toggle:checked ~ span.hide{
  -webkit-transform: rotate(-405deg);
 -moz-transform: rotate(-405deg);
 -o-transform: rotate(-405deg);
 transform: rotate(-405deg);
 background: #3b3c3d;
}
span.hide1 {
 display: block;
 position: relative;
 top: -25px;
 left: 14.65px;
 width: 25px;
 height: 5px;
  margin: 0 auto;
 background: rgba(255, 255, 255, 1);
 border-radius: 2.5px;
 -webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
 -webkit-transition: .45s ease-in-out;
 -moz-transition: .45s ease-in-out;
 -o-transition: .45s ease-in-out;
 transition: .45s ease-in-out;
 z-index: 1;

}
input.toggle:checked ~ span.hide1{
   -webkit-transform: rotate(585deg);
 -moz-transform: rotate(585deg);
 -o-transform: rotate(585deg);
 transform: rotate(585deg);
 background: #3b3c3d;
 top: -25px;
}


footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #ebd7bb;
  background-color: #2a2c30;
  text-align: center;
}

#content {
  position: relative;
  margin: 0 auto;
  top: 20%;
}
*{
  box-sizing: border-box;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #000;
}

.contact form button{
  background:#92bde7;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}


/* responsive design, mensi sirka nez 930 bude mit menu vertikalne */
@media only screen and (max-width: 930px)  {
  .menu li {
    display: block;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
  }

  .menu {
    background: rgba(80,170,158,0.85);
  }

  h1{
        font-size: 60px;
  }
  p {
    margin: 0 10px 0 10px;
    text-align: center;

  }
  .box {
    margin: 0 10px 20px 10px;
  }

  .main {
    position: absolute;
    margin: 0;
  }

  #logoSmall {
    position: relative;
  }
